body, html {
    height: 100%;
}
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    background-image: url("../image/content/space.jpg");
    background-size: cover;
}